-# .header
-# .main
-#   .postBox
-#     .backbtn
-#       =link_to recipes_path(current_user) do
-#         =icon("fas", "backspace", class:"back")
-#     .contents.row
-#       .container
-#         - if current_user
-#           = form_for @recipe do |f|
-#             = f.text_area :title, placeholder: "料理名を変更する"
-#             = f.text_area :text, placeholder: "思い出を変更する", rows: "2"
-#             = f.submit "編集"
-#         - else
-#           %strong
-#             %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※


.header

.main

  .container
    .backbtn
      =link_to recipes_path(current_user) do
        =icon("fas", "backspace", class:"back")
    =form_for @recipe do |f|
      .input-box
        = f.text_field :title, placeholder: "料理名を変更", class:"title"
        = f.label :image, class: 'image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.text_field :text, placeholder: "思い出を変更" , rows: "10",class:"text"
      = f.submit "シェアレピ",class:"submit"
