.body

  .header
    .header__left
      = current_user.name
      さんのマイページ
    .header__right
      = link_to edit_user_path(current_user),class:'edit_user' do
        =icon('fas','user-cog')
        ユーザー情報変更
      = link_to destroy_user_session_path(current_user), method: :delete do
        =icon('fas','sign-out-alt')
        ログアウト

  %section.section1
    .logo
      = image_tag "/images/login.png", size: "100x100", alt: "test"

    .search-box
      -# = form_tag(url: '#', local: true, method: :get, class: "search-form") do |f|
      -#   = f.text_field :keyword, placeholder: "レシピを検索する", class: "search-input" 
      -#   = f.submit "検索", class: "search-btn" 
    .post
      %a.post{:href => "/recipes/new"} 
        =icon('fas', 'edit')
        %p今日のご飯をシェア

  %section.section2
    .weekrecipe
      スライダーで季節のご当地料理を流します

  %section.section3
    .servicesBar
      .favorite
        お気に入り思い出レシピ
      %ul 
        %li お肉たっぷりハンバーグ！
        %li 野菜だけでお鍋！
        %li アンパンマンお弁当！
      .favorite
        永久保存！おかんレシピ
      %ul
        %li お肉たっぷりハンバーグ！
        %li 野菜だけでお鍋！
        %li アンパンマンお弁当！


    .centerBar
      .postBox
        - @recipes.each do |recipe| 
          .recipeHeader
            = recipe.name
            さんの今日のご飯
            .time
              = recipe.created_at.strftime("%Y年%m月%d日")
          .recipeDetail
            .recipePic
              .recipeImage{:style => "background-image: url(#{recipe.image});"}
            .recipeBox
              .recipeTitle
                タイトル：
                = recipe.title
              .recipememory
                思い出：
                = recipe.text             
                .comment
                  = icon('fas', 'heart')
                  = link_to 'レシピを見る', "/recipes/#{recipe.id}", method: :get
      

  %section.section4
    .japanMother
      日本全国の母の味を楽しめます。※ここは余裕があれば実装しますが、基本的にはなしの方向で

  .fotter
    2022 ®️all things you can imagin will be real
