.header

.main

  .container
    .backbtn
      =link_to recipes_path(current_user) do
        =icon("fas", "backspace", class:"back")
    =form_for @recipe do |f|
      .input-box
        = f.text_field :title, placeholder: "何を食べたの？", class:"title"
        = f.label :image, class: 'image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.text_field :text, placeholder: "ご飯と思い出をシェアしよう！" , rows: "10",class:"text"
      = f.submit "シェアレピ",class:"submit"