.header
.main
  .postBox
    .contents.row
      = @recipe.name
      さんが
      = @recipe.created_at.strftime("%Y年%m月%d日")
      に食べたご飯
      .content_post{:style => "background-image: url(#{@recipe.image});"}
      = simple_format(@recipe.title)
      = simple_format(@recipe.text)
      .more
        %ul.more_list
          %li
            = link_to '編集', "/recipes/#{@recipe.id}/edit", method: :get
          %li
            = link_to '削除', "/recipes/#{@recipe.id}", method: :delete

  .container
  - if current_user
    -# = form_for[@recipe, @comment] do |f|
    -#   = f.text_area :text, placeholder: "コメントする", rows: "2"
    -#   = f.submit "コメントを送信"
  - else
    %strong
      %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

  .comments
  %h4 ＜コメント一覧＞
  - if @comments
    - @comments.each do |comment|
      %p
        %strong
          = link_to comment.user.name, "/users/#{comment.user_id}"
          ：
        = comment.text
  - if current_user.already_liked?(@recipe)
    = button_to 'いいねを取り消す', recipe_like_path(@recipe), method: :delete
  - else
    = button_to 'いいね', recipe_likes_path(@recipe)
  -# %h2 いいねしたユーザー
  -# - @recipe.liked_users.each do |user|
  -#   %li= user.email


